body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #050210;
}

.center {
    padding: 100px;
}

.circle1 {
    width: 450px;
    height: 450px;
    background:linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle1 span {
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
}

.circle1 span:nth-child(1) {
    filter: blur(40px);
}

.circle1 span:nth-child(2) {
    filter: blur(10px);
}

.circle2 {
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background-color: #000000;
    border-radius: 50%;
}

.circle3 {
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border-radius: 50%;
    background: radial-gradient(#050210 0px, #050210 100px);
    animation: colorChange 1s infinite;
}

@keyframes colorChange {
    from {  
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }



